In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
stocks = ['msft', 'aapl'] # stock names
start = '2024-03-23' # yyyy-mm-dd
end = '2025-03-23'

msft = yf.download('msft', start = start, end = end)
aapl = yf.download('aapl', start = start, end = end)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
msft, aapl = msft['Close'], aapl['Close']

In [5]:
# Close Prices DataFrame is multi-indexed with stock_name and date
msft, aapl

(Ticker            MSFT
 Date
 2024-03-25  419.656067
 2024-03-26  418.455261
 2024-03-27  418.236938
 2024-03-28  417.532288
 2024-04-01  421.353088
 ...                ...
 2025-03-17  388.700012
 2025-03-18  383.519989
 2025-03-19  387.820007
 2025-03-20  386.839996
 2025-03-21  391.260010

 [249 rows x 1 columns],
 Ticker            AAPL
 Date
 2024-03-25  170.047073
 2024-03-26  168.912430
 2024-03-27  172.495499
 2024-03-28  170.674103
 2024-04-01  169.230927
 ...                ...
 2025-03-17  214.000000
 2025-03-18  212.690002
 2025-03-19  215.240005
 2025-03-20  214.100006
 2025-03-21  218.270004

 [249 rows x 1 columns])

In [6]:
def calculate_volatility(returns):
    return returns.std() * np.sqrt(249)

def portfolio_volatility(weights, returns):
    cov_matrix = returns.cov() * 249
    port_vol = np.sqrt(np.dot(weights.T, np.dot(cov_matrix, weights)))
    return port_vol

In [7]:
portfolio = pd.concat([msft, aapl], axis=1)
portfolio.columns = stocks

In [8]:
portfolio

                  msft        aapl
Date
2024-03-25  419.656067  170.047073
2024-03-26  418.455261  168.912430
2024-03-27  418.236938  172.495499
2024-03-28  417.532288  170.674103
2024-04-01  421.353088  169.230927
...                ...         ...
2025-03-17  388.700012  214.000000
2025-03-18  383.519989  212.690002
2025-03-19  387.820007  215.240005
2025-03-20  386.839996  214.100006
2025-03-21  391.260010  218.270004

[249 rows x 2 columns]

In [10]:
msft = portfolio[['msft']].copy()
aapl = portfolio[['aapl']].copy()

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [14]:
msft['normal_returns'] = msft['msft'].pct_change()
msft['log_returns'] = np.log(msft['msft'] / msft['msft'].shift(1))

aapl['normal_returns'] = aapl['aapl'].pct_change()
aapl['log_returns'] = np.log(aapl['aapl'] / aapl['aapl'].shift(1))

In [19]:
pric

,msft,aapl,n_returns_msft,l_returns_msft,n_returns_aapl,l_returns_aapl
Date,,,,,,
2024-03-25,419.656067,170.047073,NaN,NaN,NaN,NaN
2024-03-26,418.455231,168.912430,-0.002861,-0.002866,-0.006673,-0.006695
2024-03-27,418.236908,172.495499,-0.000522,-0.000522,0.021213,0.020991
2024-03-28,417.532318,170.674103,-0.001685,-0.001686,-0.010559,-0.010615
2024-04-01,421.353119,169.230927,0.009151,0.009109,-0.008456,-0.008492
...,...,...,...,...,...,...
2025-03-17,388.700012,214.000000,0.000360,0.000360,0.002389,0.002386
2025-03-18,383.519989,212.690002,-0.013327,-0.013416,-0.006121,-0.006140
2025-03-19,387.820007,215.240005,0.011212,0.011150,0.011989,0.011918
2025-03-20,386.839996,214.100006,-0.002527,-0.002530,-0.005296,-0.005310
2025-03-21,391.260010,218.270004,0.011426,0.011361,0.019477,0.019290

In [ ]:
volatility_msft =

In [15]:
# Calculate returns
prices = calculate_returns(prices)

# Compute volatility
volatilities = normal_returns.std() * np.sqrt(249)

# Portfolio volatility assuming equal weights
weights = np.array([0.5, 0.5])  # Adjust as needed
port_vol = portfolio_volatility(weights, normal_returns)

In [ ]:
# Get stock data
# Get stock data and align indices properly
prices = pd.concat([get_stock_data(stock, start_date, end_date) for stock in stocks], axis=1)
prices.columns = stocks  # Rename columns with stock names



# Plot returns
plt.figure(figsize=(10, 5))
plt.plot(normal_returns, label=stocks)
plt.legend()
plt.title("Daily Normal Returns")
plt.xlabel("Date")
plt.ylabel("Returns")
plt.show()

print("Stock Volatilities:")
print(volatilities)
print("Portfolio Volatility:", port_vol)